/* Styles for the comments integration */

.comment {
    margin-top: 4.5rem;
}

.cove-heading {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
    margin-bottom: 0.4rem;
}

.cove-heading #cove-count:not(:empty) {
    position: relative;
    margin-left: 0.4rem;
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    display: inline-block;
    line-height: 1;
    color: var(--ghost-accent-color);
    position: relative;
    top: -0.8rem;    
    overflow: hidden;
    z-index: 1;
}

.cove-heading #cove-count:not(:empty)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--ghost-accent-color);
    opacity: 0.1;
    z-index: -1;
}

#cove .cove-like.active {
    color: var(--ghost-accent-color);
}

#cove-form {
    align-items: center !important;
    background-color: #fff;
    border: 1px solid var(--light-gray-color);
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem !important;
    font-size: 1.4rem;
    min-height: 4.8rem;
}

#cove-form:focus-within {
    border-color: var(--mid-gray-color);
}

#cove-input-body {
    appearance: none;
    border: 0;
    padding: 0 1.2rem 0 0 !important;
    margin: 0 !important;
    resize: none !important;
    color: var(--primary-text-color);
}

#cove-input-body:focus {
    border: none !important;
    box-shadow: none !important;
}

#cove-input-name {
    appearance: none !important;
    border: none !important;
    border-left: 2px solid var(--light-gray-color) !important;
    box-shadow: none !important;
    padding: 0.4rem 1rem !important;
    height: auto;
    line-height: 2;
    align-self: flex-end;
}

#cove-input-name:focus {
    box-shadow: none !important;
}

#cove-submit {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-self: flex-end !important;
    margin: 0 0 0 1rem !important;
    background: var(--ghost-accent-color);
    border: none;
    box-shadow: none;
    appearance: none;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    z-index: 1;
    overflow: hidden;
}

#cove-submit::before {
    content: "";
    position: relative;
    top: 1px;
    margin-right: 0.4rem;
    /* inline svg icon : 
        - change the width & height properties to change the size
        - change the stroke property to change the color ('#' need to be escaped to '%23')
    */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>');
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    flex-shrink: 0;
}

#cove-submit:hover {
    opacity: 0.8;
}

#cove-submit:focus-visible {
    outline: 2px solid var(--ghost-accent-color);
    outline-offset: 2px;
}

.cove-signed-in {
    display: flex;
    margin-top: 0.4rem;
}

.cove-signed-in > a {
    margin: 0 0.8rem 0 0.4rem;
    white-space: nowrap;
}

.cove-powered-by,
.cove-signed-in {
    font-size: 1.2rem !important;
    color: var(--secondary-text-color) !important;
}

.cove-powered-by a,
.cove-signed-in a {
    font-weight: bold;
}

.cove-powered-by a,
.cove-signed-in a,
.cove-sign-in a {
    color: var(--ghost-accent-color);
}

.cove-signed-in .cove-powered-by {
    margin-left: auto;
    flex-shrink: 0;
}

.cove-sign-in {
    margin-top: 1.6rem;
}

.cove-body p {
    word-break: break-word;
}

.cove-reply {
    color: var(--secondary-text-color);
}

@media (max-width: 767px) {
    .cove-heading #cove-count:not(:empty) {
        top: 0;
        padding: 0.4rem;
    }

    #cove-form {
        flex-wrap: wrap;
    }

    #cove-input-body {
        margin-bottom: 1.2rem !important;
    }

    #cove-input-name {
        margin-bottom: 1.2rem !important;
        margin-left: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        padding-top: 1.2rem !important;
        border: none !important;
        border-top: 1px solid var(--light-gray-color) !important;
        line-height: 1.35 !important;
    }

    #cove-submit {
        width: auto !important;
        margin-left: auto !important;
    }

    .cove-signed-in {
        flex-wrap: wrap;
    }

    .cove-signed-in .cove-powered-by {
        width: 100%;
        text-align: left !important;
    }
}